trunk/LGEVN.Services/LGEVN.Client.Console/Web References/LGService/LgeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT_TB_CM_MRP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_CM_MRP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_CM_MRP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MRP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_TB_CM_MRPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_TB_CM_MRPResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_TB_CM_PROVINCE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_CM_PROVINCE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_CM_PROVINCE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="REGION_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LNG" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LAT" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ENTRY_USER_ID" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ENTRY_USER_NAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ENTRY_DATE_TIME" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UPDATE_USER_ID" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="UPDATE_USER_NAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UPDATE_DATE_TIME" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_TB_CM_PROVINCEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_TB_CM_PROVINCEResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_TB_CM_SHOP_CELL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_CM_SHOP_CELL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_CM_SHOP_CELL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CELL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MODIFY_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CREATE_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USE_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODIFY_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_TB_CM_SHOP_CELLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_TB_CM_SHOP_CELLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_TB_CM_REGION">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_CM_REGION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_CM_REGION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_TB_CM_REGIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_TB_CM_REGIONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SAPP_ERROR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_APP_ERROR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_APP_ERROR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LINE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CTIME" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SAPP_ERRORResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SAPP_ERRORResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SCM_BILLTO_INF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_CM_BILLTO_INF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_CM_BILLTO_INF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BILLTO_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROFILE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHORT_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FULL_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPRESENTATIVE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BIZ_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TAX_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMER_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CREDIT_LEVEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GRADE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HIGH_SALE_CHANNEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PAY_FROM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LOW_PRICE_GROUP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HIGH_PRICE_GROUP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VN_DEPARTMENT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AVTIVE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LOW_SALE_CHANNEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUYING_GROUP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SCM_BILLTO_INFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SCM_BILLTO_INFResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SCM_MODEL_CAT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_CM_MODEL_CAT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_CM_MODEL_CAT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PROD_L1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MP_MODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MP_SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACTIVE_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SALE_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROD_L2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROD_L3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROD_L4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TENTATIVE_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL_SPEC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PUR_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENABLE_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LAST_UPDATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UNIT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AU_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AF_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EOM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROD_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MKT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IF_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SCM_MODEL_CATResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SCM_MODEL_CATResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SCM_SHIPTO_INF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_CM_SHIPTO_INF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_CM_SHIPTO_INF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BILLTO_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BILLTO_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BILLTO_FULLNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BILLTO_ADDRESS1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPTO_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPTO_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPTO_FULLNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ADDRESS1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ADDRESS2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ADDRESS3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ADDRESS4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSTAL_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COUNTRY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CITY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BIZ_REG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPTO_STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MARKET_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SALES_CHANNEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACTIVE_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SCM_SHIPTO_INFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SCM_SHIPTO_INFResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SCM_SHOP_BILLTO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_CM_SHOP_BILLTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_CM_SHOP_BILLTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BILLTO_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MODIFY_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CREATE_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODIFY_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USE_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SCM_SHOP_BILLTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SCM_SHOP_BILLTOResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SCM_SHOP_INF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_CM_SHOP_INF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_CM_SHOP_INF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BILLTO_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CELL_NO_1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DIST_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROVINCE_CODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UPDATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ISDN_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMER_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AREA_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CELL_NO_2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OWNER_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OWNER_EMAIL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USE_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHANNEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REG_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CREATE_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UPDATE_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SCM_SHOP_INFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SCM_SHOP_INFResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SEDI_RESULT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_EDI_RESULT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_EDI_RESULT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DUP_CNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DONE_CNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DUP_ITEM" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="EDI_FILE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FAIL_CNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FAIL_ITEM" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="EDI_DATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EDI_TIME" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EDI_HEAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EDI_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NEW_CNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DONE_ITEM" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="RESPONSE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SEDI_RESULTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SEDI_RESULTResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SMO_HIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_MO_HIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_MO_HIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CELL_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHORTCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MOSEQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CMDCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGBODY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RECEIVE_TIME" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FILENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FILEDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TRANSFER_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SMO_HISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SMO_HISTResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SMT_HIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_MT_HIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_MT_HIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MOSEQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHORTCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CELL_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGBODY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MTTOTALSEQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MTSEQREF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SEND_TIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FINISH_TIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SEND_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESULT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LAST_UPDATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CPID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CMDCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MO_MSGBODY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESP_TYPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MO_RECEIVE_TIME" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SMT_HISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SMT_HISTResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SMT_SMS_RESP_MSG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_MT_SMS_RESP_MSG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_MT_SMS_RESP_MSG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RESP_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESP_MSG_1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGBODY_LEN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESP_MSG_2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GABIT_TEMPLATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GABIT_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TEMPLATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PURPOSE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SMT_SMS_RESP_MSGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SMT_SMS_RESP_MSGResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SORDER_SHIP_HIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_ORDER_SHIP_HIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_ORDER_SHIP_HIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="INV_ORG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPTO_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPTO_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CITY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDER_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LINE_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LINE_STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROD_DIV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL_SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDER_QTY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RELEASE_QTY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UNIT_SELL_PRICE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDER_AMT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPPING_METHOD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="REQUEST_SHIPPED_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="REQUEST_ARRIVAL_DATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPPING_REMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INVOICE_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="INVOICE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BOOKED_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PICK_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PICK_RELEASE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DELIVERY_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUBINVENTORY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATION_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="BILLTO_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BILLTO_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SALESCHANNEL_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SALESCHANNEL_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CREATED_BY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SALESPERSON" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UNIQUE_ID" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PICK_SEQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AR_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AU_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACCEPTANCE_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CARRIER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDER_TYPE_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CANCEL_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SORDER_SHIP_HISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SORDER_SHIP_HISTResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SSN_CDC_HIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_SN_CDC_HIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_SN_CDC_HIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="INV_ORG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LOADPLAN_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SERIAL_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BOX_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPTO_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPTO_NAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SHIPTO_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDER_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CLOSED_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="INVOICE_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="INVOICE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMER_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMER_NAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UNIQUE_ID" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SELLOUT_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SELLOUT_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="INCENTIVE_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WARRANTY_IF_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WARRANTY_IF_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SEQ_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL_SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SSN_CDC_HISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SSN_CDC_HISTResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SSN_PND_HIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_SN_PND_HIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_SN_PND_HIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SERIAL_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MOSEQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESP_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CMDCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RECEIVE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PND_DAYS" nillable="true" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="CFM_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CFM_TYPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CFM_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CELL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESP_MSG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CFM_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MO_MSGBODY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="END_USER_CELL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PND_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SMS_YN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REJECT_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="REJECT_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="REJECT_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SSN_PND_HISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SSN_PND_HISTResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SN_RDC_HIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_SN_RDC_HIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_SN_RDC_HIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="INV_ORG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EDI_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SERIAL_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BOX_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL_SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIP_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LINE_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OUT_DATE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SELLOUT_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="INCENTIVE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WT_IF_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="WT_IF_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SELLOUT_STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INCENTIVE_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SMS_YN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SN_RDC_HISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SN_RDC_HISTResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SSN_SO_DEALERS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_SN_SO_DEALERS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_SN_SO_DEALERS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SERIAL_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BOX_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL_DESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EDI_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SELLOUT_DATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EU_CELL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EU_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EU_ADDRESS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UPDATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UPLOAD_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VRF_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CFM_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CFM_USER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CFM_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CFM_COMMENT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SELLIN_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EDI_DATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EDI_FILE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SSN_SO_DEALERSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SSN_SO_DEALERSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SSN_SO_WT_HIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_SN_SO_WT_HIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_SN_SO_WT_HIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SERIAL_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="END_USER_CELL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CELL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RECEIVE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MOSEQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CMDCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESP_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESP_MSG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MO_MSGBODY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SMS_YN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SUCCESS_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EDI_FILE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EDI_HEAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SSN_SO_WT_HISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SSN_SO_WT_HISTResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SSN_SO_WT_MST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_SN_SO_WT_MST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_SN_SO_WT_MST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SERIAL_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SELLIN_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SELLOUT_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WT_START_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WT_END_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CELL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SELLOUT_RESP_MSG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POINT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AMT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SELLOUT_RESP_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SELLOUT_TIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INCENTIVE_CFM_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="INCENTIVE_CFM_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLOSE_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLOSE_PERIOD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SMS_YN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="INCENTIVE_CFM_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLOSE_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INCENTIVE_CFM_PERIOD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LAST_UPDATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="END_USER_CELL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TRANSFER_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SSN_SO_WT_MSTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SSN_SO_WT_MSTResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_SSN_SO_WT_MST0">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:TB_SN_SO_WT_MST0" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TB_SN_SO_WT_MST0">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SERIAL_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WT_START_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WT_END_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="END_USER_CELL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WT_RESP_MSG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WT_RESP_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SMS_YN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="WT_CFM_USER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LAST_UPDATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SELLIN_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SELLOUT_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SELLOUT_TIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TRANSFER_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SO_TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SO_TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_SSN_SO_WT_MST0Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INSERT_SSN_SO_WT_MST0Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_TB_SN_SO_WT_HIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_TB_SN_SO_WT_HISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_TB_SN_SO_WT_HISTResult" type="tns:ArrayOfTB_SN_SO_WT_HIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTB_SN_SO_WT_HIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TB_SN_SO_WT_HIST" nillable="true" type="tns:TB_SN_SO_WT_HIST" />
        </s:sequence>
      </s:complexType>
      <s:element name="GET_TB_SN_SO_WT_MST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_TB_SN_SO_WT_MSTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_TB_SN_SO_WT_MSTResult" type="tns:ArrayOfTB_SN_SO_WT_MST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTB_SN_SO_WT_MST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TB_SN_SO_WT_MST" nillable="true" type="tns:TB_SN_SO_WT_MST" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE_TB_SN_SO_WT_HIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_TB_SN_SO_WT_HISTResponse">
        <s:complexType />
      </s:element>
      <s:element name="UPDATE_TB_SN_SO_WT_MST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_TB_SN_SO_WT_MSTResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERT_TB_CM_MRPSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_TB_CM_MRP" />
  </wsdl:message>
  <wsdl:message name="INSERT_TB_CM_MRPSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_TB_CM_MRPResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_TB_CM_PROVINCESoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_TB_CM_PROVINCE" />
  </wsdl:message>
  <wsdl:message name="INSERT_TB_CM_PROVINCESoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_TB_CM_PROVINCEResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_TB_CM_SHOP_CELLSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_TB_CM_SHOP_CELL" />
  </wsdl:message>
  <wsdl:message name="INSERT_TB_CM_SHOP_CELLSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_TB_CM_SHOP_CELLResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_TB_CM_REGIONSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_TB_CM_REGION" />
  </wsdl:message>
  <wsdl:message name="INSERT_TB_CM_REGIONSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_TB_CM_REGIONResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SAPP_ERRORSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SAPP_ERROR" />
  </wsdl:message>
  <wsdl:message name="INSERT_SAPP_ERRORSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SAPP_ERRORResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SCM_BILLTO_INFSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SCM_BILLTO_INF" />
  </wsdl:message>
  <wsdl:message name="INSERT_SCM_BILLTO_INFSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SCM_BILLTO_INFResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SCM_MODEL_CATSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SCM_MODEL_CAT" />
  </wsdl:message>
  <wsdl:message name="INSERT_SCM_MODEL_CATSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SCM_MODEL_CATResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SCM_SHIPTO_INFSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SCM_SHIPTO_INF" />
  </wsdl:message>
  <wsdl:message name="INSERT_SCM_SHIPTO_INFSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SCM_SHIPTO_INFResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SCM_SHOP_BILLTOSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SCM_SHOP_BILLTO" />
  </wsdl:message>
  <wsdl:message name="INSERT_SCM_SHOP_BILLTOSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SCM_SHOP_BILLTOResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SCM_SHOP_INFSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SCM_SHOP_INF" />
  </wsdl:message>
  <wsdl:message name="INSERT_SCM_SHOP_INFSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SCM_SHOP_INFResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SEDI_RESULTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SEDI_RESULT" />
  </wsdl:message>
  <wsdl:message name="INSERT_SEDI_RESULTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SEDI_RESULTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SMO_HISTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SMO_HIST" />
  </wsdl:message>
  <wsdl:message name="INSERT_SMO_HISTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SMO_HISTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SMT_HISTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SMT_HIST" />
  </wsdl:message>
  <wsdl:message name="INSERT_SMT_HISTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SMT_HISTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SMT_SMS_RESP_MSGSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SMT_SMS_RESP_MSG" />
  </wsdl:message>
  <wsdl:message name="INSERT_SMT_SMS_RESP_MSGSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SMT_SMS_RESP_MSGResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SORDER_SHIP_HISTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SORDER_SHIP_HIST" />
  </wsdl:message>
  <wsdl:message name="INSERT_SORDER_SHIP_HISTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SORDER_SHIP_HISTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_CDC_HISTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_CDC_HIST" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_CDC_HISTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_CDC_HISTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_PND_HISTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_PND_HIST" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_PND_HISTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_PND_HISTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SN_RDC_HISTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SN_RDC_HIST" />
  </wsdl:message>
  <wsdl:message name="INSERT_SN_RDC_HISTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SN_RDC_HISTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_SO_DEALERSSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_SO_DEALERS" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_SO_DEALERSSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_SO_DEALERSResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_SO_WT_HISTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_SO_WT_HIST" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_SO_WT_HISTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_SO_WT_HISTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_SO_WT_MSTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_SO_WT_MST" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_SO_WT_MSTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_SO_WT_MSTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_SO_WT_MST0SoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_SO_WT_MST0" />
  </wsdl:message>
  <wsdl:message name="INSERT_SSN_SO_WT_MST0SoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_SSN_SO_WT_MST0Response" />
  </wsdl:message>
  <wsdl:message name="GET_TB_SN_SO_WT_HISTSoapIn">
    <wsdl:part name="parameters" element="tns:GET_TB_SN_SO_WT_HIST" />
  </wsdl:message>
  <wsdl:message name="GET_TB_SN_SO_WT_HISTSoapOut">
    <wsdl:part name="parameters" element="tns:GET_TB_SN_SO_WT_HISTResponse" />
  </wsdl:message>
  <wsdl:message name="GET_TB_SN_SO_WT_MSTSoapIn">
    <wsdl:part name="parameters" element="tns:GET_TB_SN_SO_WT_MST" />
  </wsdl:message>
  <wsdl:message name="GET_TB_SN_SO_WT_MSTSoapOut">
    <wsdl:part name="parameters" element="tns:GET_TB_SN_SO_WT_MSTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_TB_SN_SO_WT_HISTSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_TB_SN_SO_WT_HIST" />
  </wsdl:message>
  <wsdl:message name="UPDATE_TB_SN_SO_WT_HISTSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_TB_SN_SO_WT_HISTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_TB_SN_SO_WT_MSTSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_TB_SN_SO_WT_MST" />
  </wsdl:message>
  <wsdl:message name="UPDATE_TB_SN_SO_WT_MSTSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_TB_SN_SO_WT_MSTResponse" />
  </wsdl:message>
  <wsdl:portType name="LgeServiceSoap">
    <wsdl:operation name="INSERT_TB_CM_MRP">
      <wsdl:input message="tns:INSERT_TB_CM_MRPSoapIn" />
      <wsdl:output message="tns:INSERT_TB_CM_MRPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_TB_CM_PROVINCE">
      <wsdl:input message="tns:INSERT_TB_CM_PROVINCESoapIn" />
      <wsdl:output message="tns:INSERT_TB_CM_PROVINCESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_TB_CM_SHOP_CELL">
      <wsdl:input message="tns:INSERT_TB_CM_SHOP_CELLSoapIn" />
      <wsdl:output message="tns:INSERT_TB_CM_SHOP_CELLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_TB_CM_REGION">
      <wsdl:input message="tns:INSERT_TB_CM_REGIONSoapIn" />
      <wsdl:output message="tns:INSERT_TB_CM_REGIONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SAPP_ERROR">
      <wsdl:input message="tns:INSERT_SAPP_ERRORSoapIn" />
      <wsdl:output message="tns:INSERT_SAPP_ERRORSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_BILLTO_INF">
      <wsdl:input message="tns:INSERT_SCM_BILLTO_INFSoapIn" />
      <wsdl:output message="tns:INSERT_SCM_BILLTO_INFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_MODEL_CAT">
      <wsdl:input message="tns:INSERT_SCM_MODEL_CATSoapIn" />
      <wsdl:output message="tns:INSERT_SCM_MODEL_CATSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_SHIPTO_INF">
      <wsdl:input message="tns:INSERT_SCM_SHIPTO_INFSoapIn" />
      <wsdl:output message="tns:INSERT_SCM_SHIPTO_INFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_SHOP_BILLTO">
      <wsdl:input message="tns:INSERT_SCM_SHOP_BILLTOSoapIn" />
      <wsdl:output message="tns:INSERT_SCM_SHOP_BILLTOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_SHOP_INF">
      <wsdl:input message="tns:INSERT_SCM_SHOP_INFSoapIn" />
      <wsdl:output message="tns:INSERT_SCM_SHOP_INFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SEDI_RESULT">
      <wsdl:input message="tns:INSERT_SEDI_RESULTSoapIn" />
      <wsdl:output message="tns:INSERT_SEDI_RESULTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SMO_HIST">
      <wsdl:input message="tns:INSERT_SMO_HISTSoapIn" />
      <wsdl:output message="tns:INSERT_SMO_HISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SMT_HIST">
      <wsdl:input message="tns:INSERT_SMT_HISTSoapIn" />
      <wsdl:output message="tns:INSERT_SMT_HISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SMT_SMS_RESP_MSG">
      <wsdl:input message="tns:INSERT_SMT_SMS_RESP_MSGSoapIn" />
      <wsdl:output message="tns:INSERT_SMT_SMS_RESP_MSGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SORDER_SHIP_HIST">
      <wsdl:input message="tns:INSERT_SORDER_SHIP_HISTSoapIn" />
      <wsdl:output message="tns:INSERT_SORDER_SHIP_HISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_CDC_HIST">
      <wsdl:input message="tns:INSERT_SSN_CDC_HISTSoapIn" />
      <wsdl:output message="tns:INSERT_SSN_CDC_HISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_PND_HIST">
      <wsdl:input message="tns:INSERT_SSN_PND_HISTSoapIn" />
      <wsdl:output message="tns:INSERT_SSN_PND_HISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SN_RDC_HIST">
      <wsdl:input message="tns:INSERT_SN_RDC_HISTSoapIn" />
      <wsdl:output message="tns:INSERT_SN_RDC_HISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_DEALERS">
      <wsdl:input message="tns:INSERT_SSN_SO_DEALERSSoapIn" />
      <wsdl:output message="tns:INSERT_SSN_SO_DEALERSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_WT_HIST">
      <wsdl:input message="tns:INSERT_SSN_SO_WT_HISTSoapIn" />
      <wsdl:output message="tns:INSERT_SSN_SO_WT_HISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_WT_MST">
      <wsdl:input message="tns:INSERT_SSN_SO_WT_MSTSoapIn" />
      <wsdl:output message="tns:INSERT_SSN_SO_WT_MSTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_WT_MST0">
      <wsdl:input message="tns:INSERT_SSN_SO_WT_MST0SoapIn" />
      <wsdl:output message="tns:INSERT_SSN_SO_WT_MST0SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_TB_SN_SO_WT_HIST">
      <wsdl:input message="tns:GET_TB_SN_SO_WT_HISTSoapIn" />
      <wsdl:output message="tns:GET_TB_SN_SO_WT_HISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_TB_SN_SO_WT_MST">
      <wsdl:input message="tns:GET_TB_SN_SO_WT_MSTSoapIn" />
      <wsdl:output message="tns:GET_TB_SN_SO_WT_MSTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TB_SN_SO_WT_HIST">
      <wsdl:input message="tns:UPDATE_TB_SN_SO_WT_HISTSoapIn" />
      <wsdl:output message="tns:UPDATE_TB_SN_SO_WT_HISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TB_SN_SO_WT_MST">
      <wsdl:input message="tns:UPDATE_TB_SN_SO_WT_MSTSoapIn" />
      <wsdl:output message="tns:UPDATE_TB_SN_SO_WT_MSTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LgeServiceSoap" type="tns:LgeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT_TB_CM_MRP">
      <soap:operation soapAction="http://tempuri.org/INSERT_TB_CM_MRP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_TB_CM_PROVINCE">
      <soap:operation soapAction="http://tempuri.org/INSERT_TB_CM_PROVINCE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_TB_CM_SHOP_CELL">
      <soap:operation soapAction="http://tempuri.org/INSERT_TB_CM_SHOP_CELL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_TB_CM_REGION">
      <soap:operation soapAction="http://tempuri.org/INSERT_TB_CM_REGION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SAPP_ERROR">
      <soap:operation soapAction="http://tempuri.org/INSERT_SAPP_ERROR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_BILLTO_INF">
      <soap:operation soapAction="http://tempuri.org/INSERT_SCM_BILLTO_INF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_MODEL_CAT">
      <soap:operation soapAction="http://tempuri.org/INSERT_SCM_MODEL_CAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_SHIPTO_INF">
      <soap:operation soapAction="http://tempuri.org/INSERT_SCM_SHIPTO_INF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_SHOP_BILLTO">
      <soap:operation soapAction="http://tempuri.org/INSERT_SCM_SHOP_BILLTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_SHOP_INF">
      <soap:operation soapAction="http://tempuri.org/INSERT_SCM_SHOP_INF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SEDI_RESULT">
      <soap:operation soapAction="http://tempuri.org/INSERT_SEDI_RESULT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SMO_HIST">
      <soap:operation soapAction="http://tempuri.org/INSERT_SMO_HIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SMT_HIST">
      <soap:operation soapAction="http://tempuri.org/INSERT_SMT_HIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SMT_SMS_RESP_MSG">
      <soap:operation soapAction="http://tempuri.org/INSERT_SMT_SMS_RESP_MSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SORDER_SHIP_HIST">
      <soap:operation soapAction="http://tempuri.org/INSERT_SORDER_SHIP_HIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_CDC_HIST">
      <soap:operation soapAction="http://tempuri.org/INSERT_SSN_CDC_HIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_PND_HIST">
      <soap:operation soapAction="http://tempuri.org/INSERT_SSN_PND_HIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SN_RDC_HIST">
      <soap:operation soapAction="http://tempuri.org/INSERT_SN_RDC_HIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_DEALERS">
      <soap:operation soapAction="http://tempuri.org/INSERT_SSN_SO_DEALERS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_WT_HIST">
      <soap:operation soapAction="http://tempuri.org/INSERT_SSN_SO_WT_HIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_WT_MST">
      <soap:operation soapAction="http://tempuri.org/INSERT_SSN_SO_WT_MST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_WT_MST0">
      <soap:operation soapAction="http://tempuri.org/INSERT_SSN_SO_WT_MST0" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_TB_SN_SO_WT_HIST">
      <soap:operation soapAction="http://tempuri.org/GET_TB_SN_SO_WT_HIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_TB_SN_SO_WT_MST">
      <soap:operation soapAction="http://tempuri.org/GET_TB_SN_SO_WT_MST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TB_SN_SO_WT_HIST">
      <soap:operation soapAction="http://tempuri.org/UPDATE_TB_SN_SO_WT_HIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TB_SN_SO_WT_MST">
      <soap:operation soapAction="http://tempuri.org/UPDATE_TB_SN_SO_WT_MST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LgeServiceSoap12" type="tns:LgeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT_TB_CM_MRP">
      <soap12:operation soapAction="http://tempuri.org/INSERT_TB_CM_MRP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_TB_CM_PROVINCE">
      <soap12:operation soapAction="http://tempuri.org/INSERT_TB_CM_PROVINCE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_TB_CM_SHOP_CELL">
      <soap12:operation soapAction="http://tempuri.org/INSERT_TB_CM_SHOP_CELL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_TB_CM_REGION">
      <soap12:operation soapAction="http://tempuri.org/INSERT_TB_CM_REGION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SAPP_ERROR">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SAPP_ERROR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_BILLTO_INF">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SCM_BILLTO_INF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_MODEL_CAT">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SCM_MODEL_CAT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_SHIPTO_INF">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SCM_SHIPTO_INF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_SHOP_BILLTO">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SCM_SHOP_BILLTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SCM_SHOP_INF">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SCM_SHOP_INF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SEDI_RESULT">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SEDI_RESULT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SMO_HIST">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SMO_HIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SMT_HIST">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SMT_HIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SMT_SMS_RESP_MSG">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SMT_SMS_RESP_MSG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SORDER_SHIP_HIST">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SORDER_SHIP_HIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_CDC_HIST">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SSN_CDC_HIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_PND_HIST">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SSN_PND_HIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SN_RDC_HIST">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SN_RDC_HIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_DEALERS">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SSN_SO_DEALERS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_WT_HIST">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SSN_SO_WT_HIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_WT_MST">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SSN_SO_WT_MST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_SSN_SO_WT_MST0">
      <soap12:operation soapAction="http://tempuri.org/INSERT_SSN_SO_WT_MST0" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_TB_SN_SO_WT_HIST">
      <soap12:operation soapAction="http://tempuri.org/GET_TB_SN_SO_WT_HIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_TB_SN_SO_WT_MST">
      <soap12:operation soapAction="http://tempuri.org/GET_TB_SN_SO_WT_MST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TB_SN_SO_WT_HIST">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_TB_SN_SO_WT_HIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TB_SN_SO_WT_MST">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_TB_SN_SO_WT_MST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LgeService">
    <wsdl:port name="LgeServiceSoap" binding="tns:LgeServiceSoap">
      <soap:address location="http://localhost:1350/LgeService.asmx" />
    </wsdl:port>
    <wsdl:port name="LgeServiceSoap12" binding="tns:LgeServiceSoap12">
      <soap12:address location="http://localhost:1350/LgeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>