trunk/LGEVN.Services/TestApplication/Web References/LGServices/Warranty.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSelloutData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellout" type="tns:Sellout" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sellout">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SERIAL_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SELLIN_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SELLOUT_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WT_START_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WT_END_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHOP_CELL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SELLOUT_RESP_MSG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POINT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AMT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SELLOUT_RESP_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SELLOUT_TIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INCENTIVE_CFM_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INCENTIVE_CFM_DATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUFFIX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLOSE_FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLOSE_PERIOD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SMS_YN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="INCENTIVE_CFM_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLOSE_USER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INCENTIVE_CFM_PERIOD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LAST_UPDATE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="END_USER_CELL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRANSFER_FLAG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TRANSFER_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSelloutDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSelloutDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelloutData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelloutDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSelloutDataResult" type="tns:Sellout" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSelloutDataSoapIn">
    <wsdl:part name="parameters" element="tns:SendSelloutData" />
  </wsdl:message>
  <wsdl:message name="SendSelloutDataSoapOut">
    <wsdl:part name="parameters" element="tns:SendSelloutDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelloutDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetSelloutData" />
  </wsdl:message>
  <wsdl:message name="GetSelloutDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetSelloutDataResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SendSelloutData">
      <wsdl:input message="tns:SendSelloutDataSoapIn" />
      <wsdl:output message="tns:SendSelloutDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSelloutData">
      <wsdl:input message="tns:GetSelloutDataSoapIn" />
      <wsdl:output message="tns:GetSelloutDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSelloutData">
      <soap:operation soapAction="http://tempuri.org/SendSelloutData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelloutData">
      <soap:operation soapAction="http://tempuri.org/GetSelloutData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSelloutData">
      <soap12:operation soapAction="http://tempuri.org/SendSelloutData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelloutData">
      <soap12:operation soapAction="http://tempuri.org/GetSelloutData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:1350/Warranty.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:1350/Warranty.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>